<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title><%= htmlWebpackPlugin.options.title %></title>
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet"> 
    </head>
    <body>
        <div id="app"></div>

        <script src="./libs/react.js"></script>
        <script src="./libs/react-dom.js"></script>
    </body>
</html>