.board {
    background-color: black;
    padding:1px;
    display: inline-block;
    text-align:center;
}

button.square {
    display: block;
    border: none;
    margin:1px;
    background-color: #EBEBEB;
    height:32px;
    width:32px;
    text-align: center;
    font-size:16px;
    padding: 0px;
    float:left;
}

button img {
    width: 24px;
    height:24px;
}

.row {
    display:block;
}

@media only screen and (max-width: 640px)  {
    .board {
        display:flex;
        flex-direction: column;
    }   

    .row {
        display:flex;
        flex-direction: row;
        flex: 1 0 auto;
    }

    button.square {
        flex: 1 1 auto;
    }
}