.active {
    font-weight: bold;
    color: yellow;
}

.active.modified {
    font-weight: bold;
    color: red;
}

.modified {
    font-weight: bold;
    color: red;
}

.active.saved {
    font-weight: bold;
    color: green;
}

.saved {
    font-weight: bold;
    color: green;
}

ul {
    display: block;
    list-style: square;
    padding: 0px;
}

li {
    float:left;
    margin-left: 32px;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

 .board-manager {
     margin-top: 8px;
 }

 button.strech {
     width: 100%;
 }