html, body {
    height:100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;

    background: linear-gradient(to bottom right, red, yellow);
    color: white;
    margin:0px;
}

h1, h2, h3 {
    font-family: 'Vollkorn SC', serif;
}

#app {
    padding:16px;
}

@media only screen and (max-width: 640px)  {
    #app {
        padding:0px;

        header {
            padding: 8px;
        }
    }
}

.partial {
    float:left;
    margin-right: 50px;
}

#gameArea {
    float:left;
}

#adminArea {
    float:left;
    background:yellowgreen;
}